# **LAB ASSIGNMENT 1** 
Submission Date : 2.2.22  
By : Amrutanshu Dash        
Roll No : 1905735



---

Q1. Write a Python program(WAPP) to input any two integers, and provide a menu to the user to select any of the options as add, subtract, multiply, divide and display the result accordingly.

In [ ]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    return x / y

print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")


choice = int(input("Enter choice(1/2/3/4): "))

num1 = int(input("Enter 1st number: "))
num2 = int(input("Enter 2nd number: "))
if(choice == 1):
    print("Result is ",add(num1,num2))
elif(choice == 2):
    print("Result is ",subtract(num1,num2))
elif(choice == 3):
    print("Result is ",multiply(num1,num2))
else:
    print("Result is ",divide(num1,num2))

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 1
Enter 1st number: 23
Enter 2nd number: 33
56

Q2. WAPP to check if a year is leap year or not.

In [ ]:
yr = int(input("Enter the year to check: "))
if (yr % 4 == 0):
    print(f"{yr} is a leap year.")
else:
    print(f"{yr} is not a leap year.")

Enter the year to check: 2020
2020 is a leap year.

Q3. WAPP to convert temperature from centigrade to Fahrenheit scale.

In [ ]:
inCelsius = int(input("Enter temp in centigrade: "))
toFahrenheit = (inCelsius * 9/5) + 32
print(toFahrenheit)

Enter temp in centigrade: 0
32.0

Q4.  WAPP to add two times in hour, minute & second format entered through the keyboard.

In [ ]:
print("Enter Time 1 :")
h1 = int(input("Hour : "))
m1 = int(input("Minute : "))
s1 = int(input("Second : "))
print("Enter Time 2 :")
h2 = int(input("Hour : "))
m2 = int(input("Minute : "))
s2 = int(input("Second : "))
h3 = h1+h2+(m1+m2+(s1+s2)//60)//60
m3 = (m1+m2+(s1+s2)//60)%60
s3 = (s1+s2)%60
print("Time 1 :",h1," Hour,",m1," Minute and ",s1," Second")
print("Time 2 :",h2," Hour,",m2," Minute and ",s2," Second")
print("Total Time :",h3," Hours &",m3," Minutes &",s3,"Seconds")

Enter Time 1 :
Hour : 2
Minute : 1288
Second : 86123
Enter Time 2 :
Hour : 4
Minute : 12
Second : 34
Time 1 : 2  Hour, 1288  Minute and  86123  Second
Time 2 : 4  Hour, 12  Minute and  34  Second
Total Time  : 51  Hour & 35  Minute and  57 Second

Q5. WAPP to check if the given number is Armstrong or not

In [31]:
def cube(n):
    return n*n*n

def isArmstrong(n):
    while(n>0):
        sum =0
        rem = n %10
        sum += cube(rem)
        n = n //10
    if(sum == n):
        return True
    else:
        return False

num = int (input("Enter a number to check for armstrong"))
isArmstrong(num)
if(isArmstrong):
    print(f"{num} is an Armstrong number")
else:
    print(f"{num} is not an Armstrong number")

Enter a number to check for armstrong153
153 is an Armstrong number

Q6. WAPP to find out the factors of a number.

In [9]:
def findFactors(num):
    print(f"The factors of {num} are: ")
    for i in range(1, num+1):
        if(num % i == 0):
            print(i)

num = int(input("Enter a number to find factors: "))
findFactors(num)

The factors of 21 are:
Enter a number to find factors: 12
1
2
3
4
6
12

Q7. WAPP to print all even numbers between 100 to 200 using a loop.

In [32]:
for i in range(100, 200):
    if(i % 2 == 0):
        print(i)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198

Q8. WAPP to find LCM of 2 numbers using a while loop.

In [33]:
num1 = int(input())
num2 = int(input())
if(num1 > num2 ): 
    max= num1
else:
    max= num2
while(True):
    if(max % num1 == 0 and max % num2 == 0):   
        print(max)
        break;
    max= max+ 1

4
2
4

Q9. WAPP to find out the distance between two coordinates (x1, y1) & (x2, y2)

In [34]:
def distance(x1, y1, x2, y2):
    return ((x2 - x1) ** 2 + (y2 - y1) ** 2) ** 0.5

x1 = int(input("Enter x1: "))
y1 = int(input("Enter y1: "))
x2 = int(input("Enter x2: "))
y2 = int(input("Enter y2: "))

print(distance( x1,  y1,  x2,  y2))

Enter x1: 2
Enter y1: 4
Enter x2: 1
Enter y2: 3
1.4142135623730951

Q10. WAPP to find the multiplication table of any number using a for loop.

In [18]:
number = int(input ("Enter the number: "))      
count = 1    
print ("The Multiplication Table of: ", number)    
while count <= 10:    
    number = number * 1    
    print(number, 'x', i, '=', number * count)    
    count += 1

Enter the number: 5
The Multiplication Table of:  5
5 x 199 = 5
5 x 199 = 10
5 x 199 = 15
5 x 199 = 20
5 x 199 = 25
5 x 199 = 30
5 x 199 = 35
5 x 199 = 40
5 x 199 = 45
5 x 199 = 50

Q11. WAPP to find Volume and Surface Area of Cylinder.

In [20]:
import math
rad = int(input("Enter the radius of cylinder"))
ht = int(input("Enter the height  of cylinder"))
volume = math.pi * (rad ** 2) * ht
surfaceArea = 2 * math.pi * rad * (rad + ht)

print(f"Volume of cylinder is {volume}")
print(f"Surface Area of cylinder is {surfaceArea}")

Enter the radius of cylinder5
Enter the height  of cylinder4
Volume of cylinder is 314.1592653589793
Surface Area of cylinder is 282.7433388230814

Q12. WAPP to find the roots of a quadratic equation ax2+bx+c=0.

In [21]:
import math
# Ex : ax2+bx+c=0
a = int(input("Enter a: "))
b = int(input("Enter b: "))
c = int(input("Enter c: "))
 
def findRoots(a, b, c):
 
    # If a is 0, then equation is
    # not quadratic, but linear
    if a == 0:
        print("Invalid")
        return -1
    d = b * b - 4 * a * c
    sqrt_val = math.sqrt(abs(d))
 
    if d > 0:
        print("Roots are real and different ")
        print((-b + sqrt_val)/(2 * a))
        print((-b - sqrt_val)/(2 * a))
    elif d == 0:
        print("Roots are real and same")
        print(-b / (2*a))
    else:  # d<0
        print("Roots are complex")
        print(- b / (2*a), " + i", sqrt_val)
        print(- b / (2*a), " - i", sqrt_val)

findRoots (a,b,c)

Enter a: 5
Enter b: 2
Enter c: 4
Roots are complex
-0.2  + i 8.717797887081348
-0.2  - i 8.717797887081348

Q13. KIIT DU has following rules for grading system: http://coe.kiit.ac.in/examination-regulations.php#R1 WAPP to enter your marks and credit of course of any 5 courses of 2 semesters through keyboard print the corresponding grade. Calculate SGPA for each semester and overall CGPA.

In [29]:
def getGrade(mark):
    if mark >= 90:
        return 10
    elif 80 <= mark < 90:
        return 9
    elif 70 <= mark < 80:
        return 8
    elif 60 <= mark < 70:
        return 7
    elif 50 <= mark < 60:
        return 6
    elif 40 <= mark < 50:
        return 5
    else:
        return 2

def getSGPA(mark,cred):
    sum = 0
    tot = 0
    for m,c in zip(mark,cred):
        sum += getGrade(m)*c
        tot += 10 * c
    return sum / tot * 10

def getCGPA():
    sem1_mark = list(map(int,input('Enter marks (5 subjects) :').split()))
    sem1_cred = list(map(int,input('Enter credit (5 subjects) :').split()))
    sem1_sgpa = getSGPA(sem1_mark,sem1_cred)

    sem2_mark = list(map(int,input('Enter marks (5 subjects) :').split()))
    sem2_cred = list(map(int,input('Enter credit (5 subjects) :').split()))
    sem2_sgpa = getSGPA(sem2_mark,sem2_cred)
    
    print((sem1_sgpa + sem2_sgpa) / 2)
    

sem1_mark = [80,80,80,80,75]
sem1_cred = [3,4,4,4,5]
sem1_sgpa = getSGPA(sem1_mark,sem1_cred)

sem2_mark = [80,90,70,80,75]
sem2_cred = [3,4,5,3,4]
sem2_sgpa = getSGPA(sem2_mark,sem2_cred)

print(f'{((sem1_sgpa + sem2_sgpa) / 2):.3}')

8.74

Q14. A student will not be allowed to sit an exam if his/her attendance is less than 70%. Take following input from user: 
● Number of classes held 
● Number of classes attended Print percentage of class attended and check if the student is allowed to sit in the exam or not.

In [23]:
no_of_classes = int(input("Enter total no of clases: "))
attended = int(input("Enter the no of classes attended: "))
attendance = (attended / no_of_classes) * 100
print(attendance)
if(attendance < 70):
    print("Not allowed to appear the exam")

Enter total no of clases: 40
Enter the no of classes attended: 25
62.5
Not allowed to appear the exam

Q15. High Radius Company decided to give a bonus of 10% to employees if his/her year of service is more than 5 years. 
● Enter salary and year of service from the keyboard and print the net bonus amount. 
● Determine oldest and youngest among 3 employees by taking input(from user) of their age.

In [30]:
age1=int(input('enter age1: '))
age2=int(input('enter age2: '))
age3=int(input('enter age3: '))
if age1>age2 and age1>age3:
    print('age1 is oldest')
elif age2>age1 and age2>age3:
    print('age2 is oldest')
else:
    print('age3 is oldest')
if age1<age2 and age1<age3:
    print('age1 is youngest')
elif age2<age1 and age2<age3:
    print('age2 is youngest')
else:
     print('age3 is youngest')

salary = int(input("Enter the salary: "))
yr_of_service = int(input("Enter the yrs of service: "))
if(yr_of_service > 5):
    bonus=0.1*salary
    print(bonus)
else:
    print("not eligible for bonus")

enter age1: 12
enter age2: 10
enter age3: 3
age1 is oldest
age3 is youngest
Enter the salary: 12333
Enter the yrs of service: 5
not eligible for bonus

Q16. WAPP to convert a quantity in meter entered through keyboard into its equivalent kilometre and meter as per the following format. Example. 2430 meter = 2 Km and 430 meter.

In [24]:
meters = int(input("Enter in metres: "))
kilometer = meters // 1000
meter = meters % 1000
print(f"{meters} meter = {kilometer} Km and {meter} meter")

Enter in metres: 2455
2455 meter = 2 Km and 455 meter

Q17. WAPP to print the sum of all prime numbers between 1 to n using a loop.

In [25]:
num = int(input("Find sum of prime numbers till: "))
sum = 0

for num in range(2, num + 1):
    i = 2
    for i in range(2, num):
        if (int(num % i) == 0):
            i = num
            break;
    if i is not num:
        sum += num

print("\nSum of all prime numbers upto", num, ":", sum)

Find sum of prime numbers till: 20

Sum of all prime numbers upto 20 : 75

Q18. WAPP to display the reverse of a number entered through the keyboard.

In [26]:
num = int(input("Enter the number to reverse: "))
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

Enter the number to reverse: 123
Reversed Number: 321

Q19. WAPP to convert a decimal number into its equivalent number with base b. Decimal number and b are the user input.

In [13]:
inDec = int(input("Enter the decimal: "))
base = int(input("Enter the base: "))
if(base == 2):
    print(f"In binary: {bin(inDec)}")
elif(base == 8):
    print(f"In octal: {oct(inDec)}")
elif(base == 16):
    print(f"In hexadecimal: {hex(inDec)}")

Enter the decimal: 60
Enter the base: 8
In octal: 0o74

Q20. WAPP to sum the following series S=1+(1+2)+(1+2+3)+...+(1+2+3+...+n)

In [9]:
n = int(input("Enter value of n: "))
sum = 0
for i in range(1, n+1):
    s=0
    for j in range(1, i+1):
        s += j
    sum += s

print(sum)

Enter value of n: 4
20