# **LAB Assignment 2**
Submission Date : 9.2.22  
By : Amrutanshu Dash        
Roll No : 1905735

---

## Strings

Q1. Write a Python Program to count the number of vowels in a string.

In [2]:
stri = input("Enter a string to count the no of vowels: ")
vowels = 0
for i in stri:
    if(i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u' or i == 'A' or i == 'E' or i == 'I' or i == 'O' or i == 'U'):
        vowels = vowels + 1
 
print("Total no of vowels= ", vowels)

Enter a string to count the no of vowels: Gandhi Jayanti is celebrated on 2nd October every year.
Total no of vowels=  18

Q2. Write a Python Program to replace all occurrences of ‘a’ with ‘@’ in a string.

In [5]:
stra = input("Enter a string to replace all occurences: ")
new_str = ''

for char in stra:
   if(stra[char] == 'a'):
      new_str += '$'
   else:
      new_str += stra[char]

print("The modified string is : ", new_str)

Enter a string to replace all occurences: Gandhi Jayanti is celebrated on 2nd October every year.
New string is=  G$ndhi J$y$nti is celebr$ted on 2nd October every ye$r.

Q3. Write a Python Program to calculate the length of a string without using a library function.

In [25]:
string= input("Enter string:")
count=0
for i in string:
      count=count+1
print("Length of the string is:", count)

Enter string:Gandhi Jayanti is celebrated on 2nd October every year.
Length of the string is: 55

Q4. Write a Python Program to take in two strings and display the smallest string without using the library function.

In [24]:
str1 = input("Enter 1st string: ")
str2 = input("Enter 2nd string: ")
if(len(str1) < len(str2)):
    print(str1)
else:
    print(str2)

Enter 1st string: heelellllo
Enter 2nd string: Kamado Tanjiro
heelellllo

Q5. Write a Python Program to count the number of lowercase and uppercase letters in a string.

In [23]:
string= input("Enter string: ")
count1=0
count2=0
for i in string:
      if(i.islower()):
            count1=count1+1
      elif(i.isupper()):
            count2=count2+1
print("The number of lowercase characters is: ", count1)
print("The number of uppercase characters is: ", count2)

Enter string: Gandhi Jayanti is celebrated on 2nd October every year.
The number of lowercase characters is:  42
The number of uppercase characters is:  3

Q6. Write a Python Program to count the number of digits and characters in a string.

In [22]:
string= input("Enter string:")
count1=0
count2=0
for i in string:
      if(i.isdigit()):
            count1=count1+1
      count2=count2+1
print("The number of digits is: ", count1)
print("The number of characters is: ", count2)

Enter string:Gandhi Jayanti is celebrated on 2nd October every year.
The number of digits is:  1
The number of characters is:  55

Q7. Write a Python program to get a string made of the first 3 and the last 3 chars from a given string. If the string length is less than 3, return instead of the empty string.

In [21]:
string= input("Enter string:")
if(len(string) < 3):
    print(string)
else:
    new_str = string[0:3] + string[-3:]
    print(new_str)

Enter string:hello world
helrld

Q8. Write a Python program to count the occurrences of each word in a given string sentence.

In [9]:
string = input("Enter the string: ")
word = input("Enter the word to count: ")
a=[]
count=0
a=string.split(" ")
for i in range(0,len(a)):
      if(word==a[i]):
            count=count+1
print("Count of the word is: ", count)

Enter string:hello world
Enter word:world
Count of the word is:
1

Q9. Write a Python program to check if a string is Palindrome or not.

In [11]:
string=input("Enter string: ")
if(string == string[::-1]):
   print("The string is a palindrome.")
else:
   print("The string isn't a palindrome.")

Enter string: hello world
The string isn't a palindrome.

Q10. Write a Python program to reverse a string

In [19]:
string = input("Enter the string: ")
print("The reversed string is: ", string[::-1])

Enter the string: hello
The reversed string is:  olleh

## Lists

Q1. Write a Python Program to find the print sum, average of all numbers, smallest and largest element of a list.

In [51]:
nexa = [2, 3, 5, 7]
print("Sum of list: ", sum(nexa))
print("Average of the list: ", sum(nexa)/len(nexa))
print("Maximum element of list: ", max(nexa))
print("Minimum element of list: ", min(nexa))

Sum of list:  17
Average of the list:  4.25
Maximum element of list:  7
Minimum element of list:  2

Q2. Write a Python Program to find the 2 nd largest and 3 rd smallest number in a list.

In [49]:
nexa = [12, 45, 2, 41, 31, 10, 8, 6, 4]
nexa.sort()
print("The 2nd largest element: ", nexa[-2])
print("The 3rd smallest element: ", nexa[3])

The 2nd largest element:  41
The 3rd smallest element:  8

Q3. Write a Python Program to generate random numbers from 1 to 50 and append them to the list.

In [28]:
l1=[]
for i in range(1, 51):
    l1.append(i)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

Q4. Write a Python Program to put even and odd elements in a list into two different lists.

In [30]:
nexa = [2, 3, 5, 7, 10, 23, 28]
even, odd = [], []
for i in nexa:
    if(i %2 == 0):
        even.append(i)
    else:
        odd.append(i)

print("Even numbers: ", even)
print("Odd numbers: ", odd)

Even numbers:  [2, 10, 28]
Odd numbers:  [3, 5, 7, 23]

Q5. Write a Python Program to merge two lists and sort it.

In [37]:
l1 = [12, 45, 2, 41, 31, 10, 8, 6, 4]
l2 = [2, 3, 5, 7, 10, 23, 28]
l3 = []
for i in l1:
    l3.append(i)

for i in l2:
    l3.append(i)
l3.sort()
print(l3)

[2, 2, 3, 4, 5, 6, 7, 8, 10, 10, 12, 23, 28, 31, 41, 45]

Q6. Write a Python Program to remove the duplicate items from a list.

In [38]:
l1 = [12, 45, 2,8, 41, 31, 10, 8, 6, 4, 45,31]
print(set(l1))

{2, 4, 6, 8, 41, 10, 12, 45, 31}

Q7. Write a Python Program to take a list of words and print the length of the longest word.

In [42]:
planets = ['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']
length = []
for i in planets:
    length.append(len(i))
print("The length of the longest word: ", max(length))

The length of the longest word:  7

Q8. Write a Python program to count the number of strings where the string length is 3 or more and the first and last character are same from a given list of strings.   
Input : ['ab', 'aba', 'abaa', 'baba']    
Output : 2

In [43]:
bubba = ['ab', 'aba', 'abaa', 'baba']
count = 0
for i in bubba:
    if (len(i)>=3 and i[0] == i[-1]):
        count +=1
print("No of strings: ", count)

No of strings:  2

Q9. Write a Python program to check a list is empty or not.

In [44]:
bubba = ['ab', 'aba', 'abaa', 'baba']
if not bubba:
    print("List is empty")
else:
    print("List is not empty")

List is not empty

Q10. Write a Python program to take both strings and numbers in a list <br />        a) create separate lists of strings and numbers. <br />
b) Sort the strings list in ascending order <br />
c) Sort the strings list in descending order <br />
d) Sort the number list from lowest to highest <br />
e) Sort the number list from highest to lowest

In [46]:
nums = [1, 5, 3, 4, 2, 10, 6, 8, 7, 9]
planets = ['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']
nums.sort()
print('List in Ascending Order: ', nums)

nums.sort(reverse=True)
print('List in Descending Order: ', nums)

planets.sort()
print("In ascending order: ", planets)

planets.sort(reverse = True)
print("In ascending order: ", planets)

List in Ascending Order:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List in Descending Order:  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
In ascending order:  ['Earth', 'Jupiter', 'Mars', 'Saturn', 'Uranus', 'Venus']
In ascending order:  ['Venus', 'Uranus', 'Saturn', 'Mars', 'Jupiter', 'Earth']

Q11. Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

In [48]:
list1 = ["M", "na", "i", "Am"] 
list2 = ["y", "me", "s", "rut"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Amrut']

Q12. Given a Python list, write a program to remove all occurrences of item 20. <br />
Given: list1 = [5, 20, 15, 20, 25, 50, 20]

In [45]:
list1 = [5, 20, 15, 20, 25, 50, 20]
l2 = []
for i in list1:
    if(i != 20):
        l2.append(i)

print("New list: ", l2)

New list:  [5, 15, 25, 50]

## Tuples

Q1. Write a Python program to convert a tuple to a string..

In [54]:
t = ('t', 'r', 'a', 'u', 'm', 'a')
str1 = ''.join(t)
print(str1)

trauma

Q2. Write a Python program to find the repeated items of a tuple

In [62]:
tup = ( 2, 4, 5, 6, 2, 3, 4, 4, 7 )
rep=[]
for i in tup:
    if tup.count(i)>1:
        rep.append(i)
    else:
        continue
for x in rep:
    while rep.count(x)>1:
        rep.remove(x)
           
    
print("Repeated items:",tuple(rep))

Repeated items: (2, 4)

Q3. Write a Python program to convert a list to a tuple..

In [58]:
l = [1,2,3,3,4]
t = tuple(l)
print(t)

(1, 2, 3, 3, 4)

Q4. Write a Python program to reverse a tuple.

In [59]:
x = (2,4,1,3,5,7,9)
new_x = x[::-1]
print(new_x)

(9, 7, 5, 3, 1, 4, 2)

Q5. Write a Python program to remove an empty tuple(s) from a list of tuples

In [63]:
tupx = [(), ('ram','15','8'), (), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('',''),()]
new_tupx = [t for t in tupx if t]
print(new_tupx)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

Q6. Write a Python program to replace middle value of tuples in a list.

In [25]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new = [t[:len(t)//2] + (100,) + t[len(t)//2+1:] for t in l]
print(new)

[(10, 100, 40), (40, 100, 60), (70, 100, 90)]

Q7. Write a Python program to get the 5th element and 5th element from last of a tuple.

In [3]:
x = (2,4,1,3,5,7,9)
print("5th element: ", x[5])
print("5th element from last: ", x[-5])

5th element:  7
5th element from last:  1

Q8. Write a Python program to check if two given sets have no elements in common.

In [4]:
x = {1,2,3,4}
y = {4,5,6,7}
print(x.isdisjoint(y))

False

Q9. Write a Python program to check whether an element exists within a tuple.

In [5]:
x = {1,2,3,4}
ele = int(input("Enter the element: "))
for i in x:
    if(i == ele):
        print("Present")
print("Not Present")

Enter the element: 5
Not Present

Q10. Write a Python program to check if a given value is present in a set or not.

In [13]:
x = {1,2,3,4}
ele = int(input("Enter the element: "))
print(ele in x)

Enter the element: 4
True

Q11. Write a Python program to check if a given set is superset of itself and superset of another given set.

In [11]:
x = {1,2,3,4}
num2 =  {2, 4}
print("Is the set a superset of itself: ", x.issuperset(x))
print("is a superset of another set: ", x>num2)

Is the set a superset of itself:  True
is a superset of another set:  True

Q12. Write a Python program to create a union, intersection, difference, symmetric difference of sets.

In [9]:
A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5};

print("Union :", A | B)
print("Intersection :", A & B)
print("Difference :", A - B)
print("Symmetric difference :", A ^ B)

Union : {0, 1, 2, 3, 4, 5, 6, 8}
Intersection : {2, 4}
Difference : {0, 8, 6}
Symmetric difference : {0, 1, 3, 5, 6, 8}


Q13. Write a Python program to remove the intersection of a 2nd set from the 1st set.

In [8]:
sn1 = {1,2,3,4,5}
sn2 = {4,5,6,7,8}
sn1-=sn2
print("sn1: ",sn1)
print("sn2: ",sn2)

sn1:  {1, 2, 3}
sn2:  {4, 5, 6, 7, 8}

## Dictionaries

Q1. Write a Python program to multiply all the items in a dictionary.

In [23]:
d = {
    'value1': 5,
    'value2': 4,
    'value3': 3,
    'value4': 2,
    'value5': 1,
}
answer = 1
for i in d:
    answer = answer*d[i]
print(answer)

120

Q2. Write a Python program to remove duplicates from Dictionary.

In [24]:
student_data = {'id1': 
   {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id2': 
  {'name': ['David'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id3': 
    {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id4': 
   {'name': ['Surya'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
}

result = {}

for key,value in student_data.items():
    if value not in result.values():
        result[key] = value

print(result)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

Q3. Write a Python program to combine two dictionary adding values for common keys. <br />dict1 = {'k1': 10, 'k2': 20, 'k3':30} dict2 = {'k1': 30, 'k2': 20, 'k4':40} <br /> Sample output: Counter({'k1': 40, 'k2': 40, 'k4': 40, 'k3': 30})

In [22]:
from collections import Counter

dict1 = {'a': 12, 'for': 25, 'c': 9}
dict2 = {'Geeks': 100, 'geek': 200, 'for': 300}
          
Cdict = Counter(dict1) + Counter(dict2)
print(Cdict)

Counter({'for': 325, 'geek': 200, 'Geeks': 100, 'a': 12, 'c': 9})

Q4. Write a Python program to find the highest 3 values of corresponding keys in a dictionary.

In [20]:
from collections import Counter
my_dict = {'A': 67, 'B': 23, 'C': 45,
           'D': 56, 'E': 12, 'F': 69}
 
k = Counter(my_dict)
high = k.most_common(3)
 
print("Initial Dictionary:")
print(my_dict, "\n")

print("Dictionary with 3 highest values:")
print("Keys: Values")
 
for i in high:
    print(i[0]," :",i[1]," ")

Initial Dictionary:
{'A': 67, 'B': 23, 'C': 45, 'D': 56, 'E': 12, 'F': 69}

Dictionary with 3 highest values:
Keys: Values
F  : 69
A  : 67
D  : 56

Q5. Write a Python program to create a dictionary from a string.<br /> Note: Track the count of the letters from the string. <br />Sample string : 'amazon' <br />Expected output: {'a': 2, 'm': 1, 'z': t, 'o': 2, 'n': 1}

In [21]:
st = input("Enter a string: ")
dic = {}  
for ch in st:
    if ch in dic: 
        dic[ch] += 1
    else:
        dic[ch] = 1  
for key in dic:
    print(key,':',dic[key])

Enter a string: amazon
a : 2
m : 1
z : 1
o : 1
n : 1

Q6. Write a Python program to print a dictionary line by line.

In [19]:
students = {'Aex':{'class':'V', 'rolld_id':2}, 'Puja':{'class':'V', 'roll_id':3}}
for a in students:
    print(a)
    for b in students[a]:
        print (b,':',students[a][b])

Aex
class : V
rolld_id : 2
Puja
class : V
roll_id : 3

Q7. Write a Python program to replace dictionary values with their average

In [18]:
def sum_math_v_vi_average(list_of_dicts):
    for d in list_of_dicts:
        n1 = d.pop('V')
        n2 = d.pop('VI')
        d['V+VI'] = (n1 + n2)/2
    return list_of_dicts 
student_details= [
  {'id' : 1, 'subject' : 'math', 'V' : 70, 'VI' : 82},
  {'id' : 2, 'subject' : 'math', 'V' : 73, 'VI' : 74},
  {'id' : 3, 'subject' : 'math', 'V' : 75, 'VI' : 86}
]
print(sum_math_v_vi_average(student_details))

[{'id': 1, 'subject': 'math', 'V+VI': 76.0}, {'id': 2, 'subject': 'math', 'V+VI': 73.5}, {'id': 3, 'subject': 'math', 'V+VI': 80.5}]

Q8. Write a Python program to drop empty Items from a given Dictionary. <br />Original Dictionary:
{'c1': 'CS, 'c2': 'IT', 'c3': None} <br />New Dictionary after dropping empty items: {'c1': 'CS', 'c2': 'IT'}

In [17]:
dict2 = {'c1': 'CS', 'c2': 'IT', 'c3': None }
dict2 = {key:value for (key, value) in dict2.items() if value is not None}
print(dict2)

{'c1': 'CS', 'c2': 'IT'}

Q9. Write a Python program to filter the height and width of students, which are stored in a dictionary.<br /> Original Dictionary: {'Ram': (6.2, 70), 'Sita': (5.9, 65), 'Hari': (6.0, 68), 'Gopal': (5.8, 66)} Height > 6ft and Weight> 65kg: {'Ram': (6.2, 70)}

In [15]:
def filter_data(students):
    result = dict(filter(lambda x: (x[1][0], x[1][1]) > (6.0, 65), students.items()))
    return result 

dict1 = {'Ram': (6.2, 70), 'Sita': (5.9, 65), 'Hari': (6.0, 68), 'Gopal': (5.8, 66)}  
print(filter_data(dict1))

{'Ram': (6.2, 70), 'Hari': (6.0, 68)}